/* Smartphones (portrait) ----------- */

@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {

    /* ****************Général****************************** */
    .logos {
        display: none;
    }

    /* ********************NAVBAR**************************** */
    #navprincipale {
        display: none;
    }

    nav ul {
        padding: 0em;

    }

    /************** nav Secondaire *******/
    .nav-bar {
        display: block;
        width: 100%;
        background: radial-gradient(rgb(139, 195, 245), #1294B8);
    }

    .nav-bar .site-logo {
        font-size: 1.5rem;
        flex-grow: 1;
        text-align: center;
        color: #1294B8;
    }

    .nav-bar #drop-down-cbox+label {
        display: block;
        /* unhide the mobile nav button */
    }

    .nav-bar .main-nav {
        max-height: 0px;
        /* same vertical grow transition trick as above */
        height: calc(100vh - 60px);
        /* take full vertical viewport height, -60px for nav-bar */
        overflow: hidden;
        position: absolute;
        top: 60px;
        line-height: auto;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: radial-gradient(rgb(139, 195, 245), #1294B8);
        transition: all 500ms ease-in-out;
    }

    #drop-down-cbox:checked~.main-nav {
        max-height: calc(100vh - 60px);
        font-size: 20px;
        transition: all 500ms ease-in-out;
    }

    .nav-bar .main-nav li span {
        position: relative;
    }

    /* design and position downward arrow */
    .nav-bar .main-nav li span:after {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        margin-left: 8px;
        transform: translateY(-50%) rotate(-45deg);
        border-left: 2px solid #666;
        border-bottom: 2px solid #666;
    }

    .nav-bar .main-nav li>ul li {
        position: relative;
    }

    .nav-bar .main-nav li>ul li a,
    .nav-bar .main-nav li>ul li span {
        background-color: #eee;
    }

    /* ***************DIV Principales*********************** */
    .header {
        height: 100vh;
    }

    .flexheader {
        display: flex;
        flex-direction: column;
    }

    .flexfeature {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reject {
        margin-top: 100px;
    }

    .queries {
        margin: 21px 5px 0px 25px;
        font-size: 15px;
        width: 100%;
    }

    .features {
        height: 150vh;
    }

    .works {
        height: 100vh;
    }

    .teams {
        height: 160vh;
    }

    .pricing {
        height: 180vh;
    }

    .faq {
        height: 105vh;
    }

    .blog {
        height: 160vh;
    }

    /* *************Div Zone Text + Bouton********************* */
    .form {
        width: 45%;
        border-radius: 40px;
        margin: 15% 0 15% 2.5%;
    }

    .alignement {
        margin-left: 2%;
        font-size: 20px;
    }

    .input {
        padding: 1em;
        width: 73%;
        border-style: hidden;
        border-radius: 20px;
    }

    .subscribe {
        background-color: #1294B8;
        color: white;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid #1294B8;
    }

    /* ***********************IMAGES******************* */
    .bg {
        width: 400px;
        margin-left: 8px;
    }

    .bg2 {
        margin-top: 5%;
        width: 400px;
    }

    /* ******************* Product Features********************** */

    .h2feature {
        margin: 1em;
    }

    .pfeature {
        margin: 2em;
        font-size: 20px;
    }

    .icons {
        margin-top: 45px;
        font-size: 62px;
        margin-bottom: 50px;
    }

    .card {
        height: 320px;
        margin: 25px;
        width: 350px;
    }

    .container {
        margin-top: 10px;
        padding: 2px 16px;
        font-size: 17px
    }

    .h2work {
        padding-top: 5em;
        margin-bottom: 0.5em;
        text-align: center;
    }

    .pwork {
        font-size: 46px;
    }

    /* ************************Dynamic********************* */

    .column {
        display: flex;
        flex-direction: column;
    }

    .column2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

    }

    .team {
        width: 105px;
        height: 105px;
    }

    .team2 {
        width: 105px;
        height: 105px;
    }

    .svg2 {
        width: 20px;
        height: 20px;
        display: flex;
    }


    .client {
        margin-bottom: 0em;
    }

    .section {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
        color: silver;
    }

    .descend {
        margin-left: 0%;
        width: 102%;
        margin-top: 2em;
        padding: 15px;
    }

    .team-member-container:hover .team-member-icons-container {
        top: 30px;
    }

    /**********************Kucra********************************* */
    .kucrapad {
        padding: 3em;
    }

    .getstarted {
        margin-left: 35%;
        margin-top: 40px;
        width: 40%;
    }

    .getstarted:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
        transform: scale(1.1);
        cursor: pointer;
    }

    /* ***********************Client***************************** */
    .pstyle {
        margin-top: 1.5em;
        margin-bottom: 2em;
        padding: 1em;
    }

    .flex2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0%
    }

    .figim {
        width: 100px;
        opacity: 0.5;
        margin-top: 25px;
    }

    /* **********************Creative*********************** */
    .colonne {
        display: flex;
        flex-direction: column
    }

    .colonne2 {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .learn {
        margin: 10%;
        margin-left: 30%
    }

    .divcreat {
        padding-right: 0;
    }

    .h2creat {
        text-align: center;
        padding: 1.5em;
        font-size: 20px
    }

    .pcreat {
        text-align: center;
        margin: 0.5em
    }

    /* ************************Pricing ************************* */
    .colonne3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card2 {
        width: 330px;
        height: 400px;
        margin: 15px
    }

    .card3 {
        width: 330px;
        height: 400px;
        margin: 15px
    }

    .absolute {
        top: -58px;
        right: -240px
    }

    .descender {
        margin: 6px 10px 0px 0px
    }

    .container2 {
        margin-top: 0px;
        padding: 0px 15px;
    }

    .join {
        margin-left: 15px;
        margin-top: 40px;
        padding: 20px;
        width: 85%;
    }

    .join2 {
        margin-left: 15px;
        margin-top: 20px;
        padding: 20px;
        width: 85%;
    }

    .Separated {
        margin: 10px 0 10px 0;
    }

    .baissermoin {
        padding: 40px;
        font-size: 20px
    }

    .divflex {
        display: flex;
        justify-content: space-between;
        flex-direction: row
    }

    .divcolumn {
        display: flex;
        flex-direction: column;
    }

    .divmarg {
        margin: -55px 0 0 0
    }

    /* ***********************Blog**************************** */

    .team-member-container2 {
        position: relative;
        overflow: hidden;
    }

    .column3 {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .column4 {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }

    .team-member-icons-container2 {
        position: absolute;
        top: -10px;
        left: -10px;
        visibility: hidden;
    }

    .team3 {
        width: 300px;
        height: 200px;
        margin: 0;
        padding: 0;
        filter: none;
    }

    .team4 {
        width: 300px;
        height: 200px;
        margin-left: 20px;
    }

    .svg3 {
        display: flex;
    }

    .client2 {
        margin-top: 20px;
    }

    .Read {
        color: blue;
        border-style: none;
        background: none;
        margin-bottom: 30px;
    }

    /* *******************Footer************** */
    footer {
        background-color: black;
        text-align: center;
    }

    .align {
        font-size: 11px;
        font-weight: bold;
    }
}


/* Smartphones (landscape) ----------- */
@media only screen and (device-width : 896px) and (device-height : 414px) and (-webkit-device-pixel-ratio : 2) {
    .go_top {
        bottom: 10px;
        left: 90%;
    }

    .logos {
        display: flex;
        margin-left: 40%;
        margin-bottom: 0px;
    }

    /* ********************NAVBAR**************************** */
    #navprincipale {
        display: block;
        margin-top: -20px;
    }

    nav ul {
        padding: 0em;
        margin-bottom: 15px;
        font-size: 17px;
    }

    li {
        margin-left: 0;
    }

    .svg {
        margin: 0px 20px 0px 30px;
    }

    .bold {
        margin: 2% 0 0 40%;
        font-size: 40px;
    }

    /************** nav Secondaire *******/
    .nav-bar {
        display: none;
    }

    /* ***************DIV Principales*********************** */
    .header {
        height: 110vh;
        width: 217vh;
    }

    .features {
        height: 126vh;
    }

    .works {
        height: 100vh;
    }

    .teams {
        height: 145vh;
    }

    .kucra {
        height: 50vh;
    }

    .faq {
        height: 100vh;
    }

    .about {
        height: 200vh;
    }

    .pricing {
        height: 160vh;

    }

    .blog {
        height: 310vh;
    }

    .flexheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .flexfeature {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .reject {
        margin-top: 40px;
    }

    .queries {
        margin: 20px 5px 20px 30px;
        font-size: 20px;
    }

    /* *************Div Zone Text + Bouton********************* */
    .form {
        width: 100%;
        margin-left: 2%;
    }

    .alignement {
        margin-left: 15%;
        font-size: 20px;
        width: 100%;
    }

    .input {
        width: 80%;
    }

    .subscribe {
        background-color: #1294B8;
        color: white;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid #1294B8;
    }

    /* ***********************IMAGES******************* */
    .bg {
        width: 350px;
        margin: 8px;
    }

    .bg2 {
        margin-top: 4%;
        width: 400px;
    }

    /* ******************* Product Features********************** */

    .h2feature {
        margin: 1em;
        font-size: 25px;
    }

    .pfeature {
        margin: 0em;
        font-size: 25px;
    }

    .card {
        height: 340px;
        width: 30%;
        margin: 1%;
    }

    .container {
        margin-top: 10px;
        padding: 0px 15px;
        font-size: 20px;
    }

    .icons {
        margin-top: 30px;
        font-size: 50px;
        margin-bottom: 0px;
    }

    .pwork {
        font-size: 25px;
        margin-top: 30px;
    }

    .h2work {
        padding-top: 3em;
        margin-bottom: 0.5em;
        text-align: center;
        font-size: 40px;
    }

    /***************** Dynamic*************** */

    .team-member-container:hover .team-member-icons-container {
        top: 70px;
        left: 8px;
        visibility: visible;
    }

    .section {
        font-size: 19px
    }

    .descend {
        margin-left: 0%;
        width: 95%;
        margin-top: 2em
    }

    /**********************Kucra********************************* */
    .kucrapad {
        padding: 3em;
    }

    .getstarted {
        margin-left: 35%;
        margin-top: 40px;
        width: 40%;
    }

    .getstarted:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
        transform: scale(1.1);
        cursor: pointer;
    }

    .kucra {
        height: 70vh;
        width: 217vh;
    }

    /* ***********************Client***************************** */
    .padtop {
        padding-top: 2em;
    }

    .pstyle {
        margin-top: 1.5em;
        margin-bottom: 2em;
    }

    .flex2 {
        display: flex;
        flex-direction: row;
        margin-left: 5%;
    }

    /* **********************Creative*********************** */
    .colonne {
        display: flex;
        flex-direction: column
    }

    .colonne2 {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        margin-left: 100px;
    }

    .learn {
        margin-top: 5%;
        padding: 10px;
        width: 100%;
    }

    .marright {
        margin-right: 100px;
        font-size: 20px;
        text-align: center;
    }

    .divcreat {
        padding: 0;
    }

    .h2creat {
        text-align: center;
        padding: 1.5em;
        font-size: 25px;
    }

    .pcreat {
        text-align: center;
        margin: 0.5em;
        font-size: 20px;
    }

    /* ************************Pricing ************************* */
    .colonne3 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card2 {
        width: 330px;
        height: 400px;
        margin: 15px
    }

    .card3 {
        width: 330px;
        height: 400px;
        margin: 15px
    }

    .absolute {
        top: -58px;
        right: -195px
    }

    .descender {
        margin: 6px 10px 0px 0px
    }

    .container2 {
        margin-top: 0px;
        padding: 0px 15px;
    }

    .join {
        margin-left: 15px;
        margin-top: 40px;
        padding: 20px;
        width: 85%;
    }

    .join2 {
        margin-left: 15px;
        margin-top: 20px;
        padding: 20px;
        width: 85%;
    }

    .baisser {
        padding-top: 20px;
        font-size: 40px;
    }

    .baissermoin {
        padding: 20px;
        font-size: 20px;
    }

    .Separated {
        margin: 10px 0 10px 0;
    }

    .divflex {
        display: flex;
        justify-content: space-between;
        flex-direction: row
    }

    .divcolumn {
        display: flex;
        flex-direction: column;
    }

    .divmarg {
        margin: -55px 0 0 0
    }

    /* ***********************Blog**************************** */
    .team-member-container2 {
        position: relative;
        overflow: hidden;
    }

    .column3 {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .column4 {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }

    .team-member-icons-container2 {
        position: absolute;
        top: -10px;
        left: -10px;
        visibility: hidden;
    }

    .team3 {
        width: 300px;
        height: 200px;
        margin: 0;
        padding: 0;
        filter: none;
    }

    .team4 {
        width: 300px;
        height: 200px;
        margin-left: 20px;
    }

    .svg3 {
        display: flex;
    }

    .client2 {
        margin-top: 20px;
    }

    .Read {
        color: blue;
        border-style: none;
        background: none;
        margin-bottom: 30px;
    }

    footer {
        background-color: black;
        text-align: center;
        width: 217vh;
    }

    .align {
        font-size: 20px;
        font-weight: bold;
    }
}