@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ****************Général****************************** */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    background: radial-gradient(rgb(139, 195, 245), #1294B8);
    height: 100vh;
}

.height100vh {
    height: 100vh;
}

.works {
    background-color: rgb(220, 220, 220);
}


.kucra {
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/parallax.png")
}


.go_top {
    position: fixed;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 55px;
    color: white;
    font-size: 30px;
    border-radius: 50%;
}

.center {
    text-align: center;
}

/* ********************NAVBAR**************************** */
nav ul {
    padding: 2em;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 5%;
}

nav {
    display: flex;
    justify-content: center;
}

li a {
    text-decoration: none;
    color: white;
    padding: 1.5em;
}

.svg {
    width: 1.5%;
    height: 1.5%;
    margin-top: 25px;
    margin-right: 20px;
}

.svg:hover {
    cursor: pointer;
}

.bold {
    font-weight: bold;
    font-size: 30px;
    margin-right: 50px;
    list-style: none;
    margin-top: 20px;
}


/* ***************DIV Principales*********************** */
.flex {
    display: flex;
    justify-content: center;
}

.reject {
    margin-top: 2em;
    margin-right: -25em;
}

/* *************Div Zone Text + Bouton********************* */
.form {
    background-color: white;
    width: 40%;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: -0.5em;
}

.alignement {
    width: 50%;
    font-size: 3em;
}


input {
    padding: 1em;
    width: 74%;
    border-style: hidden;
    border-radius: 20px;
}

.subscribe {
    background-color: #1294B8;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.subscribe:hover {
    box-shadow: 0px 2px 10px 5px;
    color: white;
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

.subscribe:focus {
    outline: 0;
}

/***********************Image****************************** */
.bg {
    background-image: url(img/illustration.svg);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}

.bg2 {
    background-image: url(img/creativity.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
    width: 500px;
    height: 500px;
}

/* ******************* Product Features********************** */

.icons {
    margin-top: 80px;
    font-size: 60px;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    height: 340px;
    margin-left: 2em;
    text-align: center;
    background-color: #1294B8;
    border-radius: 10px;
    color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: scale(1.1);
}

.container {
    margin-top: 10px;
    padding: 2px 16px;
    text-align: center;
}

h4 {
    margin-bottom: 20px;
}

/* ************************Dynamic********************* */
.team-member .team .team2 {
    filter: grayscale(100%);
    transition: .3s ease-in-out;
}

.team-member-container:hover .team .team2 {
    filter: grayscale(0);
    transform: scale(1.1);
}


.team-member-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.team-member-container:hover .team-member-icons-container {
    top: 60px;
    left: 8px;
    visibility: visible;
}

.column {
    display: flex;
    justify-content: space-evenly;
}

.column2 {
    display: flex;
    flex-direction: column;
}

.team-member-icons-container {
    position: absolute;
    top: -10px;
    left: -10px;
    transition: all 1s ease-in-out;
    visibility: hidden;
}

.team {
    width: 195px;
    height: 195px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.team2 {
    width: 195px;
    height: 195px;
    border-radius: 50%;
}

.svg2 {
    width: 20px;
    height: 20px;
    display: flex;
}

.svg2:hover {
    cursor: pointer;
}

.client {
    text-align: center;
    color: gray;
    margin-bottom: 2em;
}

.margtop {
    text-align: center;
    margin-top: 15px;
}

.section {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    color: silver;
}

.descend {
    margin-left: 35%;
    width: 30%;
    margin-top: 5em;
}

/**********************Kucra********************************* */
.getstarted {
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    width: 15%;
    background: none;
    border: 2px solid white;
}

.getstarted:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

.white {
    text-align: center;
    color: white;
}

/* ***********************Client***************************** */
.pstyle {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.flex2 {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.figim {
    width: 95px;
    margin-right: 8%;
    opacity: 0.5;
}

/* **********************Creative*********************** */

.colonne {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colonne2 {
    margin-top: 10%;
    display: flex;
    justify-content: start;
}

.learn {
    background-color: #1294B8;
    color: white;
    border-radius: 6px;
    margin-top: 10%;
    padding: 10px;
    width: 30%;
}

.learn:hover {
    box-shadow: 0px 2px 10px 5px;
    color: white;
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

.learn:focus {
    outline: 0;
}

/* ************************Pricing ************************* */
.colonne3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20%;
}

.card2 {
    transition: 0.3s;
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-right: 30px;
}

.card3 {
    transition: 0.3s;
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-top: 50px;
    margin-right: 30px;
}

.absolute {
    position: relative;
    background-color: blue;
    color: white;
    padding: 1em;
    width: 25%;
    top: -84px;
    right: -254px;
    border-radius: 0 15% 0 15%;

}

.span {
    color: blue;
}

.descender{
    margin-bottom: 30px;
}
.container2 {
    margin-top: 10px;
    padding: 2px 16px;
}

.join {
    margin-left: 15px;
    margin-top: 60px;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    background: white;
    border: 2px solid blue;
}

.join:hover {
    color: black;
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

.join2 {
    margin-left: 15px;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    color: white;
    background: blue;
    border: 2px solid blue;
}

.join2:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

.Separated {
    margin-bottom: 20px;
}

.baisser {
    padding-top: 50px;
}

.baissermoin {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* ***********************Blog**************************** */

.team-member2 .team3 .team2 {
    transition: .3s;
}

.team-member-container2:hover .team3 .team4 {
    filter: brightness(50%);
}


.team-member-container2 {
    position: relative;
    overflow: hidden;
}

.team-member-container2:hover .team-member-icons-container2 {
    top: 20px;
    left: 25px;
    visibility: visible;
    color: white;
    font-size: 15px;
}

.column3 {
    display: flex;
    justify-content: center;
}

.column4 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.team-member-icons-container2 {
    position: absolute;
    top: -10px;
    left: -10px;
    visibility: hidden;
}

.team3 {
    width: 400px;
    height: 300px;
    margin: 0;
    padding: 0;
    filter: none;
}

.team4 {
    width: 400px;
    height: 300px;
}

.svg3 {
    display: flex;
}

.svg3:hover {
    cursor: pointer;
}

.client2 {
    margin-top: 20px;
}

.Read {
    color: blue;
    border-style: none;
    background: none;
}

.Read:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ***********************Footer**************************** */

footer {
    background-color: black;
    text-align: center;
    padding-bottom: 2em;
}

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: black;
    color: white;
    border-radius: 50%;
    margin-top: 1em;
    border: 1px solid white;
}

.fa-google {
    background: black;
    color: white;
    border-radius: 50%;
    margin-top: 1em;
    border: 1px solid white;
}

.align {
    padding: 2em;
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    color: white;
}

small {
    color: white;
    margin-bottom: 2em;
}