/* ****************Général********** */

body {
    background: radial-gradient(rgb(139, 195, 245), #1294B8);
}

/* ********************NAVBAR********** */
nav ul {
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 5%;
}

li a {
    text-decoration: none;
    color: white;
}

/* ***************Le Reste*********************** */
.flex {
    display: flex;
    justify-content: space-around;
}

.reject {
    margin-top: 3em;
}

.form {
    background-color: white;
    width: fit-content;
    border-radius: 20px;
    margin-top: 20px;
}

input {
    padding: 1em;
    border-style: none;
    border-radius: 20px;
}

.blue {
    background-color: blue;
    color: white;
    border-radius: 20px;
    margin-right: 5px;
    padding: 10px;
}

.bg {
    background-image: url(img/illustration.svg);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}